div.aggregation-preview-project {
    max-height: 400px;
    overflow-x: auto;
    overflow-y: auto;
}

span.block-title {
    font-wight: bold;
    font-size: 1.4em;
}

table.aggregation-preview-table {
    width: 100%;
}

table.aggregation-preview-table tr {
    line-height: 23px;
}

table.aggregation-preview-table td {
    white-space:nowrap;
}

div.aggregation-preview-border{
    border: 2px solid #ddd;
}

td.aggregation-preview-heading {
    background-color: #ddd;
    vertical-align: center;
    horizontal-align: left;
}

td.aggregation-preview-heading input {
    border: 1px solid #ddd;
    background-color: #ddd;
    font-weight: bold;
    font-size: 100%;
}

td.aggregation-preview-container-spacer {
    width: 15px;
}

input.aggregation-preview-input {
    width: 100%;
    margin: 0px;
    border: 1px solid #FFF;
}

div.aggregation-preview-input {
    max-height: 400px;
    overflow-y: auto;
}