.menu-container {
  min-width: 150px;
}

.dialog-frame.alter-geist {
  .button {
    text-align: left;
  }

  .button.default {
    font-weight: bold;
  }

  .dialog-footer {
    text-align: right;
  }
}