<div class="aggregation-preview-container" bind="aggregationPreviewContainer">
    <table>
        <tr>
            <td>
                <div bind="aggregationPreviewProject" id="aggregation-preview-project" class="aggregation-preview-project aggregation-preview-border">
                </div>
            </td>
            <td class="aggregation-preview-container-spacer"></td>
            <td>
                <div bind="aggregationPreviewInput" id="aggregation-preview-input" class="aggregation-preview-input aggregation-preview-border">
                </div>
            </td>
        </tr>
    </table>
</div>