<div class="dialog-frame alter-geist alter-geist-about">
  <div class="dialog-header">
    About
  </div>
  <div class="dialog-body">
    Very important inforamtion about this extension.
  </div>
  <div class="dialog-footer">
    <button class="button" bind="close">Close</button>
  </div>
</div>
