<div class="dialog-frame alter-geist alter-geist-aggregate">
    <div class="dialog-border">
        <div class="dialog-header" bind="dialogHeader"></div>

        <div class="dialog-body" bind="dialogBody">
            $AGGREGATION_PREVIEW_WIDGET$
        </div>

        <div class="dialog-footer" bind="dialogFooter">
            <button bind="cancelBtn" class="button">Cancel</button>
            <button bind="clearBtn" class="button">Clear preview</button>
            <button bind="previewBtn" class="button">Update preview</button>
            <button bind="aggregateBtn" class="button">Aggregate</button>
        </div>
    </div>
</div>